/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
    color: #526066;
}

h2, h3 {
    letter-spacing: 0.25em;
    text-transform: uppercase;
    font-weight: 600;
}

p {
    line-height: 1.6em;
}


/*
 * -- Layout Styles --
 */
.l-content {
    margin: 0 auto;
}

.l-box {
    padding: 0.5em 2em;
}

/*
 * -- MENU STYLES --
 * Make the menu have a very faint box-shadow.
 */
.pure-menu {
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}


/*
 * -- BANNER --
 * The top banner with the headings. By using a combination
 * of `display: table;` and `display: table-cell;`, we can
 * vertically center the text.
 */

.haven-logo{
    height: 20px;
    font-family: 'Didact Gothic', sans-serif;
}

.portfolio-logo{
    background-color: green;
}

.banner {
    background: transparent url('../../img/banner.png') no-repeat fixed;
    background-position: center;
    text-align: center;
    background-size: cover;
    height: 350px;
    width: 100%;
    margin-bottom: 3em;
    display: table;
}
    .banner-large {
        background: transparent url('../../img/banner.png') no-repeat fixed;
        background-position: center;
        text-align: center;
        background-size: cover;
        height: 500px;
        width: 100%;
        margin-bottom: 3em;
        display: table;
    }

    .banner-head {
        display: table-cell;
        vertical-align: middle;
        margin-bottom: 0;
        font-size: 4em;
        color: white;
        font-weight: 500;
        text-shadow: 0 1px 1px black;
    }
    .banner-head a{
        vertical-align: middle;
        text-decoration: none;
        margin-bottom: 0;
        color: white;
        text-shadow: 0 1px 1px black;
    }

.section-head {
    vertical-align: top;
    text-align: left;
    margin-bottom: 25px;
    font-size: 4em;
    color: black;
    font-weight: 500;
    text-shadow: 0 1px 1px black;
}


/*
 * -- haven TABLE WRAPPER --
 * This element wraps up all the haven table elements
 */
 .haven-tables,
 .information {
    max-width: 980px;
    margin: 0 auto;
 }
.haven-tables {
    margin-bottom: 3.125em;
    text-align: center;
}

/*
 * -- haven TABLE  --
 * Every haven table has the .haven-table class
 */
.haven-table {
    border: 1px solid #ddd;
    margin: 0 0.5em;
    padding: 0 0 3em;
}

/*
 * -- haven TABLE HEADER COLORS --
 * Choose a different color based on the type of haven table.
 */
.haven-table-free .haven-table-header {
    background: #519251;
}

.haven-table-biz .haven-table-header {
    background: #2c4985;
}

/*
 * -- haven TABLE HEADER --
 * By default, a header is black/white, and has some styles for its <h2> name.
 */
.haven-table-header {
    background: #111;
    color: #fff;
}
    .haven-table-header h2 {
        margin: 0;
        padding-top: 2em;
        font-size: 1em;
        font-weight: normal;

    }


/*
 * -- haven TABLE PRICE --
 * Styles for the price and the corresponding <span>per month</span>
 */
.haven-table-price {
    font-size: 6em;
    margin: 0.2em 0 0;
    font-weight: 100;
}
    .haven-table-price span {
        display: block;
        text-transform: uppercase;
        font-size: 0.2em;
        padding-bottom: 2em;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.5);
        *color: #fff;
    }



/*
 * -- haven TABLE LIST --
 * Each haven table has a <ul> which is denoted by the .haven-table-list class
 */
.haven-table-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}


/*
 * -- haven TABLE LIST ELEMENTS --
 * Styles for the individual list elements within each haven table
 */
.haven-table-list li {
    padding: 0.8em 0;
    background: #f7f7f7;
    border-bottom: 1px solid #e7e7e7;
}

.portfolio-item {
    margin-bottom: 1em;
    min-height: 200px;
}

.portfolio-logo {
    text-align: center;
    height: auto;
    min-height: 150px;
    width: 100%;
    display: table;
}

.portfolio-logo-bawsaq {
    background: #51B558 url('../../img/bawsaq.png') 50% 50% no-repeat;
    background-size: 50% 50%;
    text-align: center;
    min-height: 150px;
    height: 100%;
    width: 100%;
    display: table;
}

    .portfolio-head {
        display: table-cell;
        vertical-align: middle;
        margin-bottom: 0;
        font-size: 4em;
        color: white;
        font-weight: 500;
    }

.portfolio-text {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 0px;
    margin-top: 0px; 
}
    .portfolio-text p{
        margin-bottom: 0px;
        margin-top: 0px;
    }

/*
 * -- haven TABLE BUTTON --
 * Styles for the "Choose" button at the bottom of a haven table.
 * This inherits from Pure Button.
 */
.button-choose {
    border: 1px solid #ccc;
    background: #fff;
    color: #333;
    border-radius: 2em;
    font-weight: bold;
    position: relative;
    bottom: -1.5em;
}

.btn-bb, .btn-bb:active {
    background: url(../../img/bb-dl.png) no-repeat 10px 10px;
    padding-left: 65px; 
    margin-bottom: 10px;
    margin-right: 10px;
}

.btn-wp, .btn-wp:active, .btn-wp:hover {
    background: url(../../img/wp-dl.png) no-repeat #B63BCC 5% 50%;
    color: white;
    background-size: 12%; 
    padding-left: 50px;
    margin-bottom: 10px;
}

.information-head {
    color: black;
    font-weight: 500;
}

.footer {
    background: black;
    color: #888;
    text-align: center;
}
    .footer a {
        color: #ddd;
    }



/*
 * -- TABLET MEDIA QUERIES --
 * On tablets, we want to slightly adjust the size of the banner
 * text and add some vertical space between the various haven tables
 */
@media(max-width: 767px) {

    .banner-head {
        font-size: 3em;
    }
    .haven-table {
        margin-bottom: 2em;
    }

}

/*
 * -- PHONE MEDIA QUERIES --
 * On phones, we want to reduce the height and font-size of the banner further
 */
@media (max-width: 480px) {
    .banner {
        height: 200px;
    }
    .banner-head {
        font-size: 2em;
    }
}
